_archive/log4cxx/.log
_archive/log4cxx/configure.user.bat
_archive/omniORB/.log
_archive/omniORB/configure.user.bat
_archive/tao/.log
_archive/tao/configure.user.bat
boost/.log
boost/configure.user.bat
gmock/.log
gmock/configure.user.bat
gtest/.log
gtest/configure.user.bat
log4cplus/.log
log4cplus/configure.user.bat
qwt/.log
qwt/configure.user.bat
