* text=auto !eol
/__init__.bat -text
_archive/log4cxx/README.txt -text
_archive/log4cxx/__init__.bat -text
_archive/log4cxx/_patches/log4cxx-0.10.0/apache-log4cxx-0.10.0-win7-win32.patch -text
_archive/log4cxx/_patches/log4cxx-0.10.0/apache-log4cxx-0.10.0-win7-x64.patch -text
_archive/log4cxx/_patches/log4cxx-0.10.0/msvc12/apr-util/aprutil.vcxproj -text
_archive/log4cxx/_patches/log4cxx-0.10.0/msvc12/apr-util/aprutil.vcxproj.filters -text
_archive/log4cxx/_patches/log4cxx-0.10.0/msvc12/apr-util/xml/expat/lib/xml.vcxproj -text
_archive/log4cxx/_patches/log4cxx-0.10.0/msvc12/apr-util/xml/expat/lib/xml.vcxproj.filters -text
_archive/log4cxx/_patches/log4cxx-0.10.0/msvc12/apr/apr.vcxproj -text
_archive/log4cxx/_patches/log4cxx-0.10.0/msvc12/apr/apr.vcxproj.filters -text
_archive/log4cxx/_patches/log4cxx-0.10.0/msvc12/log4cxx/log4cxx.sln -text
_archive/log4cxx/_patches/log4cxx-0.10.0/msvc12/log4cxx/log4cxx.vcxproj -text
_archive/log4cxx/_patches/log4cxx-0.10.0/msvc12/log4cxx/log4cxx.vcxproj.filters -text
_archive/log4cxx/_patches/log4cxx-0.10.0/msvc14/apr-util/aprutil.vcxproj -text
_archive/log4cxx/_patches/log4cxx-0.10.0/msvc14/apr-util/aprutil.vcxproj.filters -text
_archive/log4cxx/_patches/log4cxx-0.10.0/msvc14/apr-util/xml/expat/lib/xml.vcxproj -text
_archive/log4cxx/_patches/log4cxx-0.10.0/msvc14/apr-util/xml/expat/lib/xml.vcxproj.filters -text
_archive/log4cxx/_patches/log4cxx-0.10.0/msvc14/apr/apr.vcxproj -text
_archive/log4cxx/_patches/log4cxx-0.10.0/msvc14/apr/apr.vcxproj.filters -text
_archive/log4cxx/_patches/log4cxx-0.10.0/msvc14/log4cxx/projects/log4cxx.sln -text
_archive/log4cxx/_patches/log4cxx-0.10.0/msvc14/log4cxx/projects/log4cxx.vcxproj -text
_archive/log4cxx/_patches/log4cxx-0.10.0/msvc14/log4cxx/projects/log4cxx.vcxproj.filters -text
_archive/log4cxx/build.bat -text
_archive/log4cxx/configure.bat -text
_archive/omniORB/README.txt -text
_archive/omniORB/__init__.bat -text
_archive/omniORB/_patches/omniORB-4.2.6346/config/x86_win32_vs_12/config.mk -text
_archive/omniORB/_patches/omniORB-4.2.6346/config/x86_win64_vs_14/config.mk -text
_archive/omniORB/_patches/omniORB-4.2.6346/mk/platforms/x86_win64_vs_14.mk -text
_archive/omniORB/build.bat -text
_archive/omniORB/build.sh -text
_archive/omniORB/configure.bat -text
_archive/tao/README.txt -text
_archive/tao/__init__.bat -text
_archive/tao/build.bat -text
_archive/tao/build.sh.old -text
_archive/tao/cleanup_TAO.bat -text
_archive/tao/cleanup_TAO_ACE.bat -text
_archive/tao/cleanup_all.lst.old -text
_archive/tao/cleanup_temp.bat -text
_archive/tao/configure.bat -text
boost/README.txt -text
boost/__init__.bat -text
boost/_patches/msvc14_boost_1_57_0/boost/config/compiler/visualc.hpp -text
boost/build.bat -text
boost/configure.bat -text
boost/preconfigure.bat -text
/cleanup.impl.bat -text
gmock/README.txt -text
gmock/__init__.bat -text
gmock/build.bat -text
gmock/configure.bat -text
gmock/preconfigure.bat -text
gtest/README.txt -text
gtest/__init__.bat -text
gtest/_patches/1.7.0/CMakeLists.txt -text
gtest/_patches/1.8.0/CMakeLists.txt -text
gtest/build.bat -text
gtest/configure.bat -text
gtest/preconfigure.bat -text
log4cplus/README.txt -text
log4cplus/__init__.bat -text
log4cplus/_patches/log4cplus-1.2.0/msvc12/CLFSAppender.props -text
log4cplus/_patches/log4cplus-1.2.0/msvc12/CLFSAppender.vcxproj -text
log4cplus/_patches/log4cplus-1.2.0/msvc12/MSTTSAppender.props -text
log4cplus/_patches/log4cplus-1.2.0/msvc12/MSTTSAppender.vcxproj -text
log4cplus/_patches/log4cplus-1.2.0/msvc12/Qt4DebugAppender.props -text
log4cplus/_patches/log4cplus-1.2.0/msvc12/Qt4DebugAppender.vcxproj -text
log4cplus/_patches/log4cplus-1.2.0/msvc12/Qt5DebugAppender.props -text
log4cplus/_patches/log4cplus-1.2.0/msvc12/Qt5DebugAppender.vcxproj -text
log4cplus/_patches/log4cplus-1.2.0/msvc12/log4cplus.props -text
log4cplus/_patches/log4cplus-1.2.0/msvc12/log4cplus.sln -text
log4cplus/_patches/log4cplus-1.2.0/msvc12/log4cplus.vcxproj -text
log4cplus/_patches/log4cplus-1.2.0/msvc12/log4cplus.vcxproj.filters -text
log4cplus/_patches/log4cplus-1.2.0/msvc12/log4cplusS.vcxproj -text
log4cplus/_patches/log4cplus-1.2.0/msvc12/log4cplusS.vcxproj.filters -text
log4cplus/_patches/log4cplus-1.2.0/msvc12/log4cplus_debug.props -text
log4cplus/_patches/log4cplus-1.2.0/msvc12/log4cplus_release.props -text
log4cplus/_patches/log4cplus-1.2.0/msvc12/log4cplus_static.props -text
log4cplus/_patches/log4cplus-1.2.0/msvc12/loggingserver.props -text
log4cplus/_patches/log4cplus-1.2.0/msvc12/loggingserver.vcxproj -text
log4cplus/_patches/log4cplus-1.2.0/msvc12/loggingserver.vcxproj.filters -text
log4cplus/_patches/log4cplus-1.2.0/msvc12/tests/appender_test.vcxproj -text
log4cplus/_patches/log4cplus-1.2.0/msvc12/tests/appender_test.vcxproj.filters -text
log4cplus/_patches/log4cplus-1.2.0/msvc12/tests/configandwatch_test.vcxproj -text
log4cplus/_patches/log4cplus-1.2.0/msvc12/tests/configandwatch_test.vcxproj.filters -text
log4cplus/_patches/log4cplus-1.2.0/msvc12/tests/customloglevel_test.vcxproj -text
log4cplus/_patches/log4cplus-1.2.0/msvc12/tests/customloglevel_test.vcxproj.filters -text
log4cplus/_patches/log4cplus-1.2.0/msvc12/tests/fileappender_test.vcxproj -text
log4cplus/_patches/log4cplus-1.2.0/msvc12/tests/fileappender_test.vcxproj.filters -text
log4cplus/_patches/log4cplus-1.2.0/msvc12/tests/filter_test.vcxproj -text
log4cplus/_patches/log4cplus-1.2.0/msvc12/tests/filter_test.vcxproj.filters -text
log4cplus/_patches/log4cplus-1.2.0/msvc12/tests/hierarchy_test.vcxproj -text
log4cplus/_patches/log4cplus-1.2.0/msvc12/tests/hierarchy_test.vcxproj.filters -text
log4cplus/_patches/log4cplus-1.2.0/msvc12/tests/log4cplus_tests.props -text
log4cplus/_patches/log4cplus-1.2.0/msvc12/tests/loglog_test.vcxproj -text
log4cplus/_patches/log4cplus-1.2.0/msvc12/tests/loglog_test.vcxproj.filters -text
log4cplus/_patches/log4cplus-1.2.0/msvc12/tests/ndc_test.vcxproj -text
log4cplus/_patches/log4cplus-1.2.0/msvc12/tests/ndc_test.vcxproj.filters -text
log4cplus/_patches/log4cplus-1.2.0/msvc12/tests/ostream_test.vcxproj -text
log4cplus/_patches/log4cplus-1.2.0/msvc12/tests/ostream_test.vcxproj.filters -text
log4cplus/_patches/log4cplus-1.2.0/msvc12/tests/patternlayout_test.vcxproj -text
log4cplus/_patches/log4cplus-1.2.0/msvc12/tests/patternlayout_test.vcxproj.filters -text
log4cplus/_patches/log4cplus-1.2.0/msvc12/tests/performance_test.vcxproj -text
log4cplus/_patches/log4cplus-1.2.0/msvc12/tests/performance_test.vcxproj.filters -text
log4cplus/_patches/log4cplus-1.2.0/msvc12/tests/priority_test.vcxproj -text
log4cplus/_patches/log4cplus-1.2.0/msvc12/tests/priority_test.vcxproj.filters -text
log4cplus/_patches/log4cplus-1.2.0/msvc12/tests/propertyconfig_test.vcxproj -text
log4cplus/_patches/log4cplus-1.2.0/msvc12/tests/propertyconfig_test.vcxproj.filters -text
log4cplus/_patches/log4cplus-1.2.0/msvc12/tests/socket_test.vcxproj -text
log4cplus/_patches/log4cplus-1.2.0/msvc12/tests/socket_test.vcxproj.filters -text
log4cplus/_patches/log4cplus-1.2.0/msvc12/tests/thread_test.vcxproj -text
log4cplus/_patches/log4cplus-1.2.0/msvc12/tests/thread_test.vcxproj.filters -text
log4cplus/_patches/log4cplus-1.2.0/msvc12/tests/timeformat_test.vcxproj -text
log4cplus/_patches/log4cplus-1.2.0/msvc12/tests/timeformat_test.vcxproj.filters -text
log4cplus/_patches/log4cplus-1.2.0/msvc14/CLFSAppender.props -text
log4cplus/_patches/log4cplus-1.2.0/msvc14/CLFSAppender.vcxproj -text
log4cplus/_patches/log4cplus-1.2.0/msvc14/MSTTSAppender.props -text
log4cplus/_patches/log4cplus-1.2.0/msvc14/MSTTSAppender.vcxproj -text
log4cplus/_patches/log4cplus-1.2.0/msvc14/Qt4DebugAppender.props -text
log4cplus/_patches/log4cplus-1.2.0/msvc14/Qt4DebugAppender.vcxproj -text
log4cplus/_patches/log4cplus-1.2.0/msvc14/Qt5DebugAppender.props -text
log4cplus/_patches/log4cplus-1.2.0/msvc14/Qt5DebugAppender.vcxproj -text
log4cplus/_patches/log4cplus-1.2.0/msvc14/log4cplus.props -text
log4cplus/_patches/log4cplus-1.2.0/msvc14/log4cplus.sln -text
log4cplus/_patches/log4cplus-1.2.0/msvc14/log4cplus.vcxproj -text
log4cplus/_patches/log4cplus-1.2.0/msvc14/log4cplus.vcxproj.filters -text
log4cplus/_patches/log4cplus-1.2.0/msvc14/log4cplusS.vcxproj -text
log4cplus/_patches/log4cplus-1.2.0/msvc14/log4cplusS.vcxproj.filters -text
log4cplus/_patches/log4cplus-1.2.0/msvc14/log4cplus_debug.props -text
log4cplus/_patches/log4cplus-1.2.0/msvc14/log4cplus_release.props -text
log4cplus/_patches/log4cplus-1.2.0/msvc14/log4cplus_static.props -text
log4cplus/_patches/log4cplus-1.2.0/msvc14/loggingserver.props -text
log4cplus/_patches/log4cplus-1.2.0/msvc14/loggingserver.vcxproj -text
log4cplus/_patches/log4cplus-1.2.0/msvc14/loggingserver.vcxproj.filters -text
log4cplus/_patches/log4cplus-1.2.0/msvc14/tests/appender_test.vcxproj -text
log4cplus/_patches/log4cplus-1.2.0/msvc14/tests/appender_test.vcxproj.filters -text
log4cplus/_patches/log4cplus-1.2.0/msvc14/tests/configandwatch_test.vcxproj -text
log4cplus/_patches/log4cplus-1.2.0/msvc14/tests/configandwatch_test.vcxproj.filters -text
log4cplus/_patches/log4cplus-1.2.0/msvc14/tests/customloglevel_test.vcxproj -text
log4cplus/_patches/log4cplus-1.2.0/msvc14/tests/customloglevel_test.vcxproj.filters -text
log4cplus/_patches/log4cplus-1.2.0/msvc14/tests/fileappender_test.vcxproj -text
log4cplus/_patches/log4cplus-1.2.0/msvc14/tests/fileappender_test.vcxproj.filters -text
log4cplus/_patches/log4cplus-1.2.0/msvc14/tests/filter_test.vcxproj -text
log4cplus/_patches/log4cplus-1.2.0/msvc14/tests/filter_test.vcxproj.filters -text
log4cplus/_patches/log4cplus-1.2.0/msvc14/tests/hierarchy_test.vcxproj -text
log4cplus/_patches/log4cplus-1.2.0/msvc14/tests/hierarchy_test.vcxproj.filters -text
log4cplus/_patches/log4cplus-1.2.0/msvc14/tests/log4cplus_tests.props -text
log4cplus/_patches/log4cplus-1.2.0/msvc14/tests/loglog_test.vcxproj -text
log4cplus/_patches/log4cplus-1.2.0/msvc14/tests/loglog_test.vcxproj.filters -text
log4cplus/_patches/log4cplus-1.2.0/msvc14/tests/ndc_test.vcxproj -text
log4cplus/_patches/log4cplus-1.2.0/msvc14/tests/ndc_test.vcxproj.filters -text
log4cplus/_patches/log4cplus-1.2.0/msvc14/tests/ostream_test.vcxproj -text
log4cplus/_patches/log4cplus-1.2.0/msvc14/tests/ostream_test.vcxproj.filters -text
log4cplus/_patches/log4cplus-1.2.0/msvc14/tests/patternlayout_test.vcxproj -text
log4cplus/_patches/log4cplus-1.2.0/msvc14/tests/patternlayout_test.vcxproj.filters -text
log4cplus/_patches/log4cplus-1.2.0/msvc14/tests/performance_test.vcxproj -text
log4cplus/_patches/log4cplus-1.2.0/msvc14/tests/performance_test.vcxproj.filters -text
log4cplus/_patches/log4cplus-1.2.0/msvc14/tests/priority_test.vcxproj -text
log4cplus/_patches/log4cplus-1.2.0/msvc14/tests/priority_test.vcxproj.filters -text
log4cplus/_patches/log4cplus-1.2.0/msvc14/tests/propertyconfig_test.vcxproj -text
log4cplus/_patches/log4cplus-1.2.0/msvc14/tests/propertyconfig_test.vcxproj.filters -text
log4cplus/_patches/log4cplus-1.2.0/msvc14/tests/socket_test.vcxproj -text
log4cplus/_patches/log4cplus-1.2.0/msvc14/tests/socket_test.vcxproj.filters -text
log4cplus/_patches/log4cplus-1.2.0/msvc14/tests/thread_test.vcxproj -text
log4cplus/_patches/log4cplus-1.2.0/msvc14/tests/thread_test.vcxproj.filters -text
log4cplus/_patches/log4cplus-1.2.0/msvc14/tests/timeformat_test.vcxproj -text
log4cplus/_patches/log4cplus-1.2.0/msvc14/tests/timeformat_test.vcxproj.filters -text
log4cplus/build.bat -text
log4cplus/configure.bat -text
log4cplus/preconfigure.bat -text
log4cpp/README.txt -text
log4cpp/__init__.bat -text
log4cpp/build.bat -text
log4cpp/configure.bat -text
qwt/README.txt -text
qwt/__init__.bat -text
qwt/_patches/QT4.8.6/mkspecs/win32-msvc2015/qmake.conf -text
qwt/_patches/QT4.8.6/mkspecs/win32-msvc2015/qplatformdefs.h -text
qwt/_patches/QT4.8.6/mkspecs/win64-msvc2015/qmake.conf -text
qwt/_patches/QT4.8.6/mkspecs/win64-msvc2015/qplatformdefs.h -text
qwt/_patches/QT5.6.0/mkspecs/common/msvc-desktop-x64.conf -text
qwt/_patches/QT5.6.0/mkspecs/win64-msvc2015/qmake.conf -text
qwt/_patches/QT5.6.0/mkspecs/win64-msvc2015/qplatformdefs.h -text
qwt/build.bat -text
qwt/configure.bat -text
/reg_env.bat -text
